{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% crispy form %}

    <div class="notes">
        {% for note in notes %}
            <div class="card text-center w-50">
                <div class="card-header">
                    <h5>{{note.header}}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{note.text}}</p>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <div class="status d-flex align-items-start flex-column">
                        <h6 class="my-0">Статус:</h6>
                        {% if note.status == True %}
                            <div class="badge bg-success">Сделано</div>
                        {% else %}
                            <div class="badge bg-warning text-dark">Не сделано</div>
                        {% endif %}
                    </div>
                    {% if note.status == True %}
                    <a href="change/{{note.pk}}"><button type="button" class="btn btn-danger">Не сделано</button></a>
                    {% else %}
                        <a href="delete/{{note.pk}}"><button type="button" class="btn btn-success">Сделано</button></a>
                    {% endif %}
                    <a href="edit/{{note.pk}}"><button type="button" class="btn btn-outline-info">Изменить</button></a>
                    <a href="delete/{{note.pk}}"><button type="button" class="btn btn-outline-danger">X</button></a>
                </div>
            </div>
    {% endfor %}
    </div>
{% endblock %}