{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% crispy form %}
<!-- <form action="post">
    {% csrf_token %}
    {{ form|crispy }}

</form> -->

<div class="notes">
   {% for note in notes %}
    <div class="card text-center w-25">
        <div class="card-header">
            <h5>{{note.header}}</h5>
        </div>
        <div class="card-body">
            <!-- <h5 class="card-title">Special title treatment</h5> -->
            <p class="card-text">{{note.text}}</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer">
            <div class="status">
                <h5>Статус:</h5>
                {% if note.status %}
                    <div class="badge bg-success">Сделано</div>
                {% else %}
                    <div class="badge bg-warning">Не сделано</div>
                {% endif %}
            </div>
            <a href="delete/{{note.pk}}"><button type="button" class="btn btn-outline-danger"></button></a>
        </div>
    </div>
   {% endfor %}
</div>
{% endblock %}